* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: #000;
    color: #fff;
    height: 100vh;
    overflow: hidden;
    text-align: center;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

h1 {
    font-size: 2.5rem;
    letter-spacing: 2px;
}

header p {
    font-size: 18px;
    letter-spacing: 2px;
}

.hero {
    padding: 20px 40px;
    text-align: center;
    position: relative;
}


.image-layer {
    position: relative;
    width: 100%;
    height: 350px;
    /* reserves space */
}

.image {
    position: absolute;
    top: -15%;
    left: 50%;
    transform: translateX(-50%) scale(1.4);
    opacity: 0;
    transition: transform 0.6s ease, opacity 0.6s ease;
    pointer-events: none;
}

.image.show {
    opacity: 1;
    transform: translateX(-50%) scale(1);
    z-index: 2;
}

.image.hide {
    opacity: 0;
    transform: translateX(-50%) scale(1.5);
    z-index: 1;
}

.image img {
    max-width: 400px;
    width: 100%;
}

.ui {
    text-align: center;
}

.flavours {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
    gap: 15px;
    border-radius: 30px;
    background: #d2575bb9;
    box-shadow: 3px 4px 10px #584344b9;
    transition: transform .6s ease;
}

.flavours button {
    cursor: pointer;
    font-size: 18px;
    transition: .4s;
    padding: 5px;
    background: transparent;
    border: none;
    color: #fff;
}

.flavours button:hover,
.flavours button:active {
    background: #8b7b7b33;
    border-radius: 20px;
    box-shadow: 3px 4px 8px #474448;
}

#order {
    padding: 5px 10px;
    font-size: 18px;
    border: 1px solid #f3d52c;
    background: transparent;
    color: #fff;
    border-radius: 20px;
    margin: 10px auto;
    width: 150px;
    cursor: pointer;
}

#order:hover {
    background: #4c1dda;
    border: none;
}

.order-modal {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.order-modal.hidden {
    display: none;
}

.order-card {
    background: #fff;
    color: #000;
    padding: 25px;
    border-radius: 20px;
    width: 300px;
    text-align: center;
    animation: slideUp .4s ease;
}

.order-card button {
    margin: 10px 5px;
    padding: 8px 14px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.confirm {
    background: #B2383B;
    color: #fff;
}

.close {
    background: #ccc;
}

@keyframes slideUp {
    from {
        transform: translateY(30px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

#popup {
    width: 320px;
    height: 50px;
    padding: 10px;
    background: #ffffff;
    color: #474448;
    box-shadow: 3px 4px 15px #584344b9;
    text-align: center;
    display: none;
    position: absolute;
    z-index: 9999;
    inset: 0;
    margin: auto;
    border-radius: 20px;
    animation: popup .3s ease;
    transition: animation .3s;
}

@keyframes popup {
    from {
        transform: scale(0.5);
    }

    to {
        transform: scale(1.2);
    }
}
@media screen and (max-width:1240px) {
    .heading{
        margin-top: 25px;
    }
    .flavours{
        width: 70%;
    }
}
@media screen and (max-width:980px) {
     .image-layer{
        height: 340px;
    }
    .flavours{
        width: 95%;
        padding: 0px 5px;
    }
    .flavours button{
        font-size: 14px;
    }
}
@media screen and (max-width:768px) {
    .image-layer{
        height: 300px;
    }
}
@media screen and (max-width:630px) {
    .image{
        top: 5%;
    }
    .flavours{
        gap: 0px;
    }
    .flavours button{
        font-size: 12px;
    }
}
@media screen and (max-width:400px) {
    .heading{
        margin-top: 35px;
    }
    .image-layer{
        height: 250px;
    }
    .flavours button{
        font-size: 8px;
    }
}